@font-face {
  font-family: 'Jersey 25';
  src: url('../fonts/Jersey25-Regular.ttf');
}

@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto/Roboto-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto/Roboto-Italic.ttf');
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto/Roboto-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: Roboto Mono;
  src: url('../fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf');
}

@font-face {
  font-family: Roboto Mono;
  src: url('../fonts/Roboto_Mono/RobotoMono-Italic-VariableFont_wght.ttf');
  font-style: italic;
}


body {
  background-color: #000000;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #efefef;
  text-shadow: 0 0 0 #fff;
  margin: 0;
}

a {
  text-decoration: none;
  color: #efefef;
  font-weight: bold;
}

a img {
  border: none;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.navbar.bg-black {
  background-color: #000000;
}

.name-text {
  font-size: 48px;
  font-family: 'Jersey 25', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #8dbac7;
}

.name-text:hover {
  cursor: normal;
  text-decoration: none;
  color: #dfdfdf;
}

.nav-item .nav-link {
  color: #8dbac7;
  font-size: 16px;
}

.nav-item .nav-link:hover {
  color: #dfdfdf;
  text-decoration: none;
}

.nav-item .nav-link.active {
  color: #8dbac7;
  text-decoration: underline;
}

.nav-item .nav-link.active:hover {
  color: #dfdfdf;
  text-decoration: underline;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(119, 157, 203, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(223, 223, 223, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.content-container {
  background-color: rgba(0,0,0,0.88);
  max-width: 840px;
  margin: 0 auto;
}

.top-spacer {
  height: 70vh;
}

.navbar-spacer {
  padding-top: 72px;
}

.text-indent {
  text-indent: 40px;
}

.spaced-header {
  letter-spacing: 6px;
  font-family: "Roboto Mono", monospace;
  font-weight: 200;
  font-style: normal;
}

@media screen and (max-width: 576px) {
  body {
    background-image: none;
    background-color: #000000;
  }
}
