body.inspectrefunk {
    background-color: #F2F2F2;
    text-align: center;
}

body.lazyrabbit {
    background-color: #FFFFFF;
    text-align: center;
    padding: 0;
    margin: 0;
}

.music-logo {
    width: 80%;
    max-width: 600px;
}

.music-links {
    padding-top: 40px;
}

.music-links .music-link {
    display: inline-block;
    padding: 0 20px;
    width: 64px;
    height: 64px;
    text-align: center;
}

.music-links .music-link.disabled {
    opacity: 0.3;
    filter: alpha(opacity=40);
}
